GitPython==3.1.31
openpyxl==3.1.1
pandas==1.5.3
protobuf==3.20.3
requests==2.28.2
selenium==4.8.2
streamlit==1.19.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
validators==0.20.0
watchdog==2.3.1
webdriver-manager==3.8.5
wsproto==1.2.0
xlwings==0.30.1
